{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}


<div class="banner-text">
    <h2>Welcome to <span>QuotZilla</span></h2>
    <p>What do you want to do?</p>
    <a href="/postq">
        <button class="btn btn-warning">Post Quote</button> 
    </a>
    <a href="/result">
        <button class="btn btn-warning">Show Quotes</button> 
    </a>
</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<footer class="blog-footer text-center">
    <p>©Satya Creations<p>
  </footer>
{% endblock body %}